/* 
dox-sadow
Es una propiedad que crea una sombre del tamaño de la caja.
box-shadow: h-offset voffset blur spread color inser|outset
    h-offset: Es el desplazamiento horizonal de la sombra.
    v-offset: Es el desplazamiento vertical de la sombre.
    blur: Opcional Es la cantidad de desenfoque de la sombre.
    spread: Optional es la extensión de la sombra.
    color: Opcional color de la sombra , sino se especifica tomará el color del texto.
    inset|outset: Opcional Determina si la sombra se dibuja por dentro o por fuera de la caja.
con valor outset(default) los valores position añade a derecha y abajo y los valores negativos añaden a izquierda y arriba.
Con los valores insert se invierten los valores, positivo sería izquierda y arriba y negativo sería derecha y abajo.
Ejemplo:
box-shadow: 10px 10px 2px 5px red;
Sombra múltiples.
Se añaden las sombras sepadadas por comas, ejemplo:
box-shadow: 10px 10px 2px 5px red, -10px -10px 2px 5px blue;
text-shadow: h-offset v-offset blur color
    Sombras multiples.
        Se añaden las sombras separadas por coma ejemplo:
        text-shadow:10px 10px 2px red, -11px 2px blue; */
.box{
    background-color: #aaa;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 5px red, -10px -10px 2px 5px blue;
}
.title{
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}