/* 
Alineamiento:
    justify-item: Alinea los elementos horizontales respecto a la celda.

    aling-item: Alinea los elementos verticalmente respecto a la celda 
    
    Admiten los valores:  
        start
        end
        center
        stretch (default)
    
    place-items: Engloba las propiedades justify-items y align-items.
    place-items:align-items / justify-items

    justify-content: alinea los elementos horizontalmente respecto al contenedor.

    aling-content: Alinea los elementos verticalmente respecto al contenedor.

    Admiten los valores:
        start
        end 
        center
        stretch(defeault)
        space-around
        space-between
        space-evenly
    pace-content: align-content / justify-content

    Tenemos las mismas propiedades con selft para los items:
    justify-self
    align-self
    place-self

        Admiten los valores:
        start
        end
        center
        stretch
    
    order: Funciona igual que flex, por defecto todos los items tienen order: 0;

*/

body {
  height: 100vh;
  color: #eee;
  font-family: "Times New Roman", Times, serif;
  background-image: radial-gradient(circle, #b94bf8, #3a1957);
  background-repeat: no-repeat;
}
.grid-container {
  display: grid;
  grid-gap:10px;
  height: 80vh;
  border:3px solid yellow;
  grid-template-columns: repeat(3,1fr);
  /*
  grid-template-columns: repeat(3,1fr);
  se alinean al lado que le digamos respecto a su caja
  justify-items: end; */
  /* 
  con stretch ocupa todo el espacio y con las demas propiedades se alinea dependiendo de lo que le indiquemos
  align-items:end;
  */
  /* place-items lo que hace es acomodarlo según lo que le indiquemos empezando en el plano vertical y despúes el plano horizontal.
  place-items: center end;
  */
  /* para esto necesitamos cambiar grid-template-columns: repeat(3,50px) de esta manera acomoda las cosas como las acomodamos con flexbox
   justify-content: space-evenly;
  */

  /* con este acomodamos los espacios dependiendo como le indiquemos, lo unico es que no podemos acomodalor mas que la forma que indiquemos. Para eso utilizamos lo siguiente.
  align-content: space-evenly;
  place-content: center end;
  */
  
 
  
}
.grid-item{
    border: .5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem 0;
}
/* Funcionara igual que con flex podemos acomodar los elementos segun necesitemos  */
.grid-item:nth-child(2){
    background-color: royalblue;
    order: -1;
}